.Container{
    background-color: #fff;
    height: 100vh;
    padding: 15px;
    overflow-y: scroll;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    border-radius: 6px;
    /* width: 25vw; */
}
.ContainerClose{
    background-color: #fff;
    height: 100vh;
    padding: 15px;
    overflow-y: scroll;
    width: 8vw;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.containerFluid{
    margin: 0px;
    padding-left: 0px;
    background-color: #f3f4f6;

}

.LogoClose{
    width: 50px;
    height: 15px;
    margin-top: 10px;
}

 
  .sideList{
    margin-top: 40px;
  }

.sidersMenus{
    display: flex;
    padding: 0px !important;
}
  
.ContainerHeader{
    background-color: #fff;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 0px 9px 8px -10px rgba(0, 0, 0, 0.1);

}

.row{
    padding: 0px !important;
}
.headerSearch{
    display: flex;
    align-items: center;
   }
   .menuIcon{
       margin: 0px 5px;
   }
   .Dropdown{
       border-radius: 10px;
       border: 1px solid #e5e5e5;
       padding: 10px;
       font-size: 14px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
   .Dropdown a{
       text-decoration: none !important;
   }
.profile{
    display: flex;
    align-items: center;
}
.amdin{
    font-size: 24px;
    margin: 8px;
}
.profileContainer{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 100px;
    background: #FFD599;

}
.contentSide{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.languageSection{
    display: flex;
}
.link{
    text-decoration: none;
}
.LogoOpen{
    padding: 8px;
}