@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, span, strong, input , select,span,li,button,Table{
  font-family: Public Sans, sans-serif;
}
h1, h2, h3, h4, h5, h6{
  color: black;
}
p,label{
  color:  #8A92A6;
}

::-webkit-scrollbar {
  width: 3px; 
  height: 12px;
}

::-webkit-scrollbar-track {
  background: #ffffff; 

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(0, 74, 173, 0.9) 0%, rgba(203, 108, 230, 0.9) 100%);

  border-radius: 10px; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color on hover */
}

